<% layout('/layouts/boilerplate') -%>
<div class="row ">
        <div class="col-6 offset-3 mt-4">
             <h1>Sign Up for Wanderlust</h1>
            <form method="POST" action="/signup" novalidate class="needs-validation" >
                <div class="mb-3">
                    <label for="email" class="form-label">E-Mail</label>
                    <input name="email" id="email" placeholder="Enter your e-mail" type="email" class="form-control"
                        required />
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input name="username" id="username" placeholder="Enter a username" type="text" class="form-control"
                        required />
                    <div class="valid-feedback">
                         Looks good :)
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" placeholder="Enter a strong Password" type="password" class="form-control"
                        required />
                </div>
                <button class="btn btn-dark add-btn">Sign up</button>
            </form>
        </div>
</div>